@font-face {
	src: url("../ressource/font/PlaypenSans-Regular.ttf");
}

@font-face {
	src: url("../ressource/font/PlaypenSans-Bold.ttf");
}

.mainPane {
	-fx-background-image: url("../ressource/img/fondScene.png");
	-fx-background-position: center;
}

.label {
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 13px;   
}

.labelTitle{
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 18px;
	-fx-underline: true;
}

.labelLife {
	-fx-font-family: "Playpen Sans";
	-fx-color: red;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.labelVictory {
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 25px;
	-fx-text-fill: lightgreen;
	-fx-font-weight: bold;
}

.labelDefeat {
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 25px;
	-fx-text-fill: red;
	-fx-font-weight: bold;
}

.notFoundText {
	-fx-text-fill: red;
}

.button {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-radius: 7px;
	-fx-background-radius: 7px;
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 13px;
}

.buttonLetterWrong {
	-fx-background-color: ff8c73;
	-fx-border-color: red;
	-fx-border-radius: 7px;
	-fx-background-radius: 7px;
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 13px;
}

.buttonLetterRight {
	-fx-background-color: lightgreen;
	-fx-border-color: green;
	-fx-border-radius: 7px;
	-fx-background-radius: 7px;
	-fx-font-family: "Playpen Sans";
	-fx-font-size: 13px;
}

.mainDialogue {
	-fx-background-image: url("../ressource/img/fondBoiteDialogue.png");
	-fx-background-position: center;
}

.buttonNavBar {
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-radius: 25px;
}

.image-flip-vertical {
    -fx-scale-y: -1;
}

.radio {
	-fx-border-color: black;
	-fx-background-color: transparent;
}

.radio-button:selected .radio .dot {
	-fx-background-color: black;
}

.slider .track {
	-fx-background-color: black;
    -fx-background-insets: 0;
}

.slider .thumb {
    -fx-background-color: black;
}